<%- include('partials/head')  %> 


    <%- include('partials/navbar')  %>
    <h1>The Home Page! <%= 4+5+1 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla libero aliquid inventore fugiat odit quam qui esse eligendi unde commodi! Ab sunt ipsum nihil impedit placeat consectetur, porro saepe beatae? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, itaque. Reiciendis iure enim, id facilis, obcaecati aut veritatis ducimus asperiores, perferendis consequatur repudiandae eligendi delectus sed quos? Excepturi, accusantium voluptatum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est atque corrupti provident ipsa voluptatem esse impedit iste alias ab, illum animi eius. Minima reprehenderit veniam animi fugiat tempora, consectetur voluptatibus?</p>

    <%- include('partials/footer')  %> 