/* Root element size */

html{
    font-size: 30px;
}

#percentages {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

#percentages div {
    background-color: #e6989b;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid blueviolet;
    line-height: 200%;
}

#ems h2 {
    font-size: 2em;
}

#ems h3 {
    font-size: 1.5em;
}

#ems  {
    font-size: 15px;
}

#ems p{
    font-size: 1em;
}

#ems ul {
    font-size: 1.5em;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    color: white;
    background-color: turquoise;
}

#rems h2{
    font-size: 3rem;
}

#rems h3{
    font-size: 2rem;
}

#rems ul {
    font-size: 1.5rem;
}

#rems button {
    font-size: 1.5rem;
}

